.main-card-body {
  height: 80px;
  border: 1.5px solid;
  color: #cccccc;
}

/* .main-card-body:hover {
  color: rgb(19, 100, 100);
  background-color: aqua;
} */

.main-card-btn {
  background-color: #cccccc;
  border-color: #cccccc;
}

.main-card-btn:hover {
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}