.centered-dropdown {
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  text-align: center;
}

.head-title {
  text-align: center;
  padding-top: 2rem;
}

.scrollable {
  overflow-x: scroll;
  min-width: 32rem;
}

.col {
  text-align: center;
  flex-wrap: nowrap;
}

.card {
  width: 180px;
  text-align: center;
  border: 0;
  background-color: #f8f9fa;
}

.card-body {
  padding: 8px;
  padding-bottom: 10px;
}

.card-title {
  margin-bottom: .25rem;
}

.table {
  /* border: 1px solid; */
  background-color: #f8f9fa;
  color: #666666;
}

.table>:not(caption)>*>* {
  padding: 4px;
}